

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model App.Models.Product

<h3>add a new product</h3>

<form asp-controller="Products" asp-action="Create" method="post">

    <label>

        <span>Category</span>
        <input asp-for="@Model.Category.Id" />
    </label>

    <label>
        <span>Description</span>

        <input asp-for="@Model.Description" />

    </label>

    <label>
        <span>Name</span>

        <input asp-for="@Model.Name" />

    </label>

    <label>
        <span>Price</span>

        <input asp-for="@Model.Price" />

    </label>
    <button type="submit">submit</button>
</form>

<div asp-validation-summary="All"></div>
