@*<h2>This is the auth index</h2>
    <form method="post" action="/auth/authenticate">
        <input name="UserName" />
        <input name="Password" />
        <button type="submit"> Login </button>

    </form>*@

<form method="post" action="/auth/authenticate">

    <div class="main-login">
        <div class="bg"></div>
        <div class="bg2"></div>



        <div class="content">
            <div class="button-container">
                <button class="button" type="submit" ><div class="circle animate"></div><span class="sign-in">Sign in</span><div class="loader"></div></button>
            </div>

            <div class="controls">
                <div class="icon">
                    <div class="bar bar1"></div>
                    <div class="bar bar2"></div>
                </div>

                <div class="inputs">

                      @* <svg class="login" xmlns="http://www.w3.org/2000/svg" width="44" height="40" viewBox="0 0 44 40"><g stroke="#fff" fill="none" stroke-width="3.538" transform="translate(0 -1012.362)"><ellipse ry="8.09" rx="8.244" cy="1022.221" cx="21.555" stroke-linecap="round" /><path d="M1.858 1046.4c-.79 4.74 3.805 4.11 3.805 4.11H37.88s4.846.936 4.312-3.854c-.533-4.79-6.076-10.937-20.04-11.043-13.964-.106-19.504 6.047-20.294 10.786z" /></g></svg>*@
               
                        <input class="input" name="UserName" placeholder="Name"/>
                     @* <svg class="lock" xmlns="http://www.w3.org/2000/svg" width="44" height="46" viewBox="0 0 44 46"><g transform="translate(-28.15 -974.678)" stroke="#fff" fill="none" stroke-width="3.509"><rect ry="3.136" y="995.18" x="29.903" height="23.743" width="40.491" stroke-linecap="round" /><path d="M49.386 1004.406v4.788" stroke-linecap="round" /><path d="M37.073 994.83s-1.39-18.398 12.97-18.398c14.36 0 12.207 18.397 12.207 18.397" /></g></svg>*@
                   
                    <input class="input" type="password" name="Password" placeholder="Password"/> 

                </div>

            </div>
        </div>
    </div>
</form>


