


@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model App.Models.Category

<h3>add a new Category</h3>

<form asp-controller="Categories" asp-action="Create" method="post">

    <label>
        <span>Name</span>

        <input asp-for="@Model.Name" />

    </label>

   
    <button type="submit">submit</button>
</form>

<div asp-validation-summary="All"></div>

